body {
  background-color: #ffc996;

}
hr {
  background-color: #ffc996;
  border-style: none;
  border-bottom: #ff8474;

  border-bottom-style: dotted;
  border-bottom-width: 7px;
  width: 7%;
}
h1 {
  color: #583d72;

}
h3 {
  color: #583d72;
}